include ../partials/header.pug
script.
  party = !{JSON.stringify(party)}
h1 Qui prend quoi ?
div.party
  h2(data-party-id=`${party._id}` class="party__name")= party.name

  div.party__body
    p.party__creator Créé par #{party.author}
    
    
    h3 Partager l'évènement
    div.party__share.share
      label(for="url") Lien de partage :
      input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}`)

    if party.items.length
      h3 Qui prend quoi
      ul.items.party__items.itemList
        each item in party.items
          li.itemList__item.item
            form(method="post" action=`/party/${party._id}/items/${item._id}`)
              div(data-user=`${item.user}` data-item=`${item.name}` class="item__content") 
                div.item__who
                  span Qui :
                  span= ` ${item.user}`
                div.item__what
                  span Quoi :
                  span= ` ${item.name}`
              button(type="submit" data-notify-item=`${item.name}` data-notify-user=`${item.user}`) Supprimer

    h3 Ajouter un item
    form(method="post" action=`/party/${party._id}/items` class="partyForm").newItem
      div.newItem__fields
        div.field 
          label(for="name") Nom de l'item
          input(name="name" id="name" required minlength="3" placeholder="item")
        div.field 
          label(for="user") Qui apporte l'item
          input(name="user" id="user" required minlength="3" placeholder="nom de la personne")
      button(type="submit" data-notify) Ajouter